.dot{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 200px;
    margin-left: 20px;
}
.dot div{
    margin: 2px 0 0 2px;
    width: 14px;
    height: 14px;
    border-radius: 200px;
}